.post {
  width: 100%;
  border-radius: 12px;
  -webkit-box-shadow: 5px 7px 15px -4px rgba(0, 0, 0, 0.63);
  box-shadow: 5px 7px 15px -4px rgba(0, 0, 0, 0.63);
  margin: 24px 0px;
}

.postWrapper {
  padding: 18px;
}
.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.postTopLeft {
  display: flex;
  align-items: center;
}
.postProfileImg {
  width: 35px;
  height: 35px;
  border-radius: 8px;
  object-fit: cover;
}
.postUsername {
  font-size: 16px;
  font-weight: 600;
  margin: 0px 12px;
}
.postDate {
  font-size: 15px;
  font-weight: 400;
}
.postCenter {
  margin: 24px 0px;
}
.postImg {
  margin-top: 24px;
  width: 100%;
  max-height: 600px;
  object-fit: cover;
}
.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.postBottomLeft {
  display: flex;
  align-items: center;
}
.likeIcon {
  width: 26px;
  height: 26px;
  margin-right: 6px;
  cursor: pointer;
}
.postLikeCounter {
  font-size: 16px;
  font-weight: 300;
}
.postCommentText {
  cursor: pointer;
}
.postCommentText:hover {
  background-color: #a89c94ff;
}
